html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;     font-family: 'Courgette', cursive;}



body { margin: 0; font-size: 1em; line-height: 1.4;   font-family: 'Courgette', cursive;background-image:url("mainbg.png");}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
button.change-speed, button.change-direction{
    position:relative;
    top:10px;

    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}